.header {
    
    height: 95px;
}
.topul {
    padding-top: 20px;
}

.text1{
    line-height: 20px;
    padding-top: 30px;
    padding-bottom: 5px;
}

.text1 small{
    
    display: block;
    font-size: 15px;
}